/* GERAL */
:root {
  --cor1: #168c28;
  --cor2: #85f296;
  --cor3: #0d0d0d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%; 
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  font-family: 'Arial', sans-serif;
  background-color: var(--cor1);
}

/* HEADER */
header {
  flex-shrink: 0; 
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: var(--cor1);
  background: radial-gradient( #26fa46, #85f296);

  padding: 20px 0;
}

.logo img {
  max-width: 80px;
}

.logo h1 {
  font-size: 2rem;
  margin: 10px 0;
}

.logo h2 {
  font-size: 1.2rem;
  font-weight: normal;
}

@media (min-width: 768px) {
  .logo h1 {
    font-size: 2.5rem;
  }
  .logo h2 {
    font-size: 1.5rem;
  }
  .logo img {
    max-width: 100px;
  }
}

/* MAIN */
main {
  flex-grow: 1; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  background-color: #abfea3;

}

.tela-login {
  width: 100%;
  max-width: 400px;
  padding: 0 15px; 
}

.cadastrado {
  width: 100%;
  background-color: var(--cor1);
  font-weight: bold;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, .15);
  margin-bottom: 20px; 
}

.login {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 20px;
  background-color: var(--cor1);
  font-weight: bold;
}

.login button, .links a {
  margin-top: 10px;
  background-color: var(--cor2);
  color: var(--cor1);
  border-radius: 8px;
  border: none;
  padding: 10px 20px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.login button:hover,.links a:hover {
  background-color: #24ea42;
  color: var(--cor3);
  transform: scale(1.05);
}

.form-group {
  margin-bottom: 15px;
}

.btn-tipo {
  width: 100%; 
  margin: 5px 0;
}

.diferenca {
  margin-top: 10px;
}

.diferenca a {
  color: var(--cor2);
  transition: color 0.3s ease;
}

.diferenca a:hover {
  color: #24ea42;
}

/* FOOTER */
footer {
  flex-shrink: 0; 
  text-align: center;
  padding: 10px;
  background-color: var(--cor1);
  color: var(--fundo2);

}