:root {
  --cor1: #168c28;
  --cor2: #85f296;
  --cor3: #0d0d0d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Arial", sans-serif;
  background-color: var(--cor2);
}

.cadastro {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: max-content;
  padding: 20px 50px;
  margin: 30px;
  border-radius: 10px;
  background-color: var(--cor1);
  font-weight: bold;
}

.form-group {
  padding-top: 5px;
  box-shadow: 1px black;
}

.cadastro button {
  margin-top: 10px;
  background-color: var(--cor2);
  color: var(--cor1);
  border-radius: 8px;
  border: none;
  padding: 10px 20px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.cadastro button:hover {
  background-color: #24ea42;
  color: var(--cor3);
  transform: scale(1.05);
}

@media only screen and (max-width: 768px) {
  * {
    font-size: 0.9rem;
  }

  body {
    min-height: 0;
  }

  .cadastro {
    margin: 30px auto;
    width: 80%;
  }
}
